openapi: 3.2.0
info:
  title: Entergy WordPress REST Wp Site Health/v1 API
  version: 1.0.0
  summary: The public WordPress core REST API exposed by entergy.com.
  description: The anonymous, machine-readable REST surface published at https://www.entergy.com/wp-json/.
  contact:
    name: Entergy Corporation
    url: https://www.entergy.com/contact
  x-generated-from: https://www.entergy.com/wp-json/ (WordPress REST API route index, fetched 2026-09-06, HTTP 200)
  x-provenance-method: derived
servers:
- url: https://www.entergy.com/wp-json
  description: WordPress REST API root on Entergy's corporate site.
tags:
- name: wp-site-health/v1
paths:
  /wp-site-health/v1:
    get:
      operationId: get_wp_site_health_v1
      summary: GET /wp-site-health/v1
      description: WordPress REST API route /wp-site-health/v1 in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-site-health/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
  /wp-site-health/v1/directory-sizes:
    get:
      operationId: get_wp_site_health_v1_directory_sizes
      summary: GET /wp-site-health/v1/directory-sizes
      description: WordPress REST API route /wp-site-health/v1/directory-sizes in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/authorization-header:
    get:
      operationId: get_wp_site_health_v1_tests_authorization_header
      summary: GET /wp-site-health/v1/tests/authorization-header
      description: WordPress REST API route /wp-site-health/v1/tests/authorization-header in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/background-updates:
    get:
      operationId: get_wp_site_health_v1_tests_background_updates
      summary: GET /wp-site-health/v1/tests/background-updates
      description: WordPress REST API route /wp-site-health/v1/tests/background-updates in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/dotorg-communication:
    get:
      operationId: get_wp_site_health_v1_tests_dotorg_communication
      summary: GET /wp-site-health/v1/tests/dotorg-communication
      description: WordPress REST API route /wp-site-health/v1/tests/dotorg-communication in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/https-status:
    get:
      operationId: get_wp_site_health_v1_tests_https_status
      summary: GET /wp-site-health/v1/tests/https-status
      description: WordPress REST API route /wp-site-health/v1/tests/https-status in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/loopback-requests:
    get:
      operationId: get_wp_site_health_v1_tests_loopback_requests
      summary: GET /wp-site-health/v1/tests/loopback-requests
      description: WordPress REST API route /wp-site-health/v1/tests/loopback-requests in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/page-cache:
    get:
      operationId: get_wp_site_health_v1_tests_page_cache
      summary: GET /wp-site-health/v1/tests/page-cache
      description: WordPress REST API route /wp-site-health/v1/tests/page-cache in namespace wp-site-health/v1, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
              - 404
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords. The route index advertises the authorization endpoint at https://www.entergy.com/wp-admin/authorize-application.php. Write routes and privileged read routes require it; the public read routes do not.
