# generated: '2026-09-06'
# method: derived
# source: https://www.entergy.com/wp-json/ (live WordPress REST route index, HTTP 200, fetched 2026-09-06)
openapi: 3.1.0
info:
  title: Entergy WordPress REST API
  version: 1.0.0
  summary: The public WordPress core REST API exposed by entergy.com.
  description: 'The anonymous, machine-readable REST surface published at https://www.entergy.com/wp-json/. This is the WordPress
    core (plus site plugin) REST API that backs entergy.com''s content - posts, pages, media, menus, the store locator and
    site health - not an Entergy energy/utility product API. Entergy publishes no developer portal and no product API contract;
    this document was DERIVED, route for route, from the live self-describing route index the site itself serves. Every path,
    method and parameter below is copied from that index. Response bodies are NOT described by the index, so they are recorded
    as generic objects rather than invented. Ownership is unambiguous: the index reports name "Entergy" and url "https://www.entergy.com".'
  contact:
    name: Entergy Corporation
    url: https://www.entergy.com/contact
  x-generated-from: https://www.entergy.com/wp-json/ (WordPress REST API route index, fetched 2026-09-06, HTTP 200)
  x-provenance-method: derived
servers:
- url: https://www.entergy.com/wp-json
  description: WordPress REST API root on Entergy's corporate site.
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - rest_no_route
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
              - 404
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords. The route index advertises the authorization endpoint at https://www.entergy.com/wp-admin/authorize-application.php.
        Write routes and privileged read routes require it; the public read routes do not.
paths:
  /batch/v1:
    post:
      operationId: post_batch_v1
      summary: POST /batch/v1
      description: WordPress REST API route /batch/v1 in namespace , as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validation:
                  type: string
                  enum:
                  - require-all-validate
                  - normal
                  default: normal
                requests:
                  type: array
                  items:
                    type: object
              required:
              - requests
  /mdd_pro/v2:
    get:
      operationId: get_mdd_pro_v2
      summary: GET /mdd_pro/v2
      description: WordPress REST API route /mdd_pro/v2 in namespace mdd_pro/v2, as advertised by the live route index at
        https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: mdd_pro/v2
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
  /mdd_pro/v2/bulk_delete_unused:
    post:
      operationId: post_mdd_pro_v2_bulk_delete_unused
      summary: POST /mdd_pro/v2/bulk_delete_unused
      description: WordPress REST API route /mdd_pro/v2/bulk_delete_unused in namespace mdd_pro/v2, as advertised by the live
        route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/bulk_delete_unused_status:
    get:
      operationId: get_mdd_pro_v2_bulk_delete_unused_status
      summary: GET /mdd_pro/v2/bulk_delete_unused_status
      description: WordPress REST API route /mdd_pro/v2/bulk_delete_unused_status in namespace mdd_pro/v2, as advertised by
        the live route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/bulk_delete_unused_stop:
    post:
      operationId: post_mdd_pro_v2_bulk_delete_unused_stop
      summary: POST /mdd_pro/v2/bulk_delete_unused_stop
      description: WordPress REST API route /mdd_pro/v2/bulk_delete_unused_stop in namespace mdd_pro/v2, as advertised by
        the live route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/bulk_delete_unused_test:
    post:
      operationId: post_mdd_pro_v2_bulk_delete_unused_test
      summary: POST /mdd_pro/v2/bulk_delete_unused_test
      description: WordPress REST API route /mdd_pro/v2/bulk_delete_unused_test in namespace mdd_pro/v2, as advertised by
        the live route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/index:
    post:
      operationId: post_mdd_pro_v2_index
      summary: POST /mdd_pro/v2/index
      description: WordPress REST API route /mdd_pro/v2/index in namespace mdd_pro/v2, as advertised by the live route index
        at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/index_status:
    get:
      operationId: get_mdd_pro_v2_index_status
      summary: GET /mdd_pro/v2/index_status
      description: WordPress REST API route /mdd_pro/v2/index_status in namespace mdd_pro/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/index_stop:
    post:
      operationId: post_mdd_pro_v2_index_stop
      summary: POST /mdd_pro/v2/index_stop
      description: WordPress REST API route /mdd_pro/v2/index_stop in namespace mdd_pro/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/index_test:
    post:
      operationId: post_mdd_pro_v2_index_test
      summary: POST /mdd_pro/v2/index_test
      description: WordPress REST API route /mdd_pro/v2/index_test in namespace mdd_pro/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/smart_bulk_delete:
    post:
      operationId: post_mdd_pro_v2_smart_bulk_delete
      summary: POST /mdd_pro/v2/smart_bulk_delete
      description: WordPress REST API route /mdd_pro/v2/smart_bulk_delete in namespace mdd_pro/v2, as advertised by the live
        route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/smart_bulk_delete_status:
    get:
      operationId: get_mdd_pro_v2_smart_bulk_delete_status
      summary: GET /mdd_pro/v2/smart_bulk_delete_status
      description: WordPress REST API route /mdd_pro/v2/smart_bulk_delete_status in namespace mdd_pro/v2, as advertised by
        the live route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/smart_bulk_delete_stop:
    post:
      operationId: post_mdd_pro_v2_smart_bulk_delete_stop
      summary: POST /mdd_pro/v2/smart_bulk_delete_stop
      description: WordPress REST API route /mdd_pro/v2/smart_bulk_delete_stop in namespace mdd_pro/v2, as advertised by the
        live route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /mdd_pro/v2/smart_bulk_delete_test:
    post:
      operationId: post_mdd_pro_v2_smart_bulk_delete_test
      summary: POST /mdd_pro/v2/smart_bulk_delete_test
      description: WordPress REST API route /mdd_pro/v2/smart_bulk_delete_test in namespace mdd_pro/v2, as advertised by the
        live route index at https://www.entergy.com/wp-json/.
      tags:
      - mdd_pro/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /oembed/1.0:
    get:
      operationId: get_oembed_1_0
      summary: GET /oembed/1.0
      description: WordPress REST API route /oembed/1.0 in namespace oembed/1.0, as advertised by the live route index at
        https://www.entergy.com/wp-json/.
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: oembed/1.0
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
  /oembed/1.0/embed:
    get:
      operationId: get_oembed_1_0_embed
      summary: GET /oembed/1.0/embed
      description: WordPress REST API route /oembed/1.0/embed in namespace oembed/1.0, as advertised by the live route index
        at https://www.entergy.com/wp-json/.
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          type: string
          default: 600
  /oembed/1.0/proxy:
    get:
      operationId: get_oembed_1_0_proxy
      summary: GET /oembed/1.0/proxy
      description: WordPress REST API route /oembed/1.0/proxy in namespace oembed/1.0, as advertised by the live route index
        at https://www.entergy.com/wp-json/.
      tags:
      - oembed/1.0
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        description: The oEmbed format to use.
      - name: maxwidth
        in: query
        required: false
        schema:
          type: integer
          default: 600
        description: The maximum width of the embed frame in pixels.
      - name: maxheight
        in: query
        required: false
        schema:
          type: integer
        description: The maximum height of the embed frame in pixels.
      - name: discover
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to perform an oEmbed discovery request for unsanctioned providers.
  /wp-abilities/v1:
    get:
      operationId: get_wp_abilities_v1
      summary: GET /wp-abilities/v1
      description: WordPress REST API route /wp-abilities/v1 in namespace wp-abilities/v1, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-abilities/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
  /wp-abilities/v1/abilities:
    get:
      operationId: get_wp_abilities_v1_abilities
      summary: GET /wp-abilities/v1/abilities
      description: WordPress REST API route /wp-abilities/v1/abilities in namespace wp-abilities/v1, as advertised by the
        live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Maximum number of items to be returned in result set.
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: Limit results to abilities in specific ability category.
      - name: namespace
        in: query
        required: false
        schema:
          type: string
        description: Limit results to abilities in a specific namespace.
      - name: meta
        in: query
        required: false
        schema:
          type: object
        description: Limit results to abilities matching all of the given meta fields.
  /wp-abilities/v1/abilities/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_abilities_v1_abilities_name
      summary: GET /wp-abilities/v1/abilities/{name}
      description: WordPress REST API route /wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+) in namespace wp-abilities/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-abilities/v1/abilities/{name}/run:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_abilities_v1_abilities_name_run
      summary: GET /wp-abilities/v1/abilities/{name}/run
      description: WordPress REST API route /wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run in namespace wp-abilities/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: input
        in: query
        required: false
        schema:
          type: integer
        description: Input parameters for the ability execution.
    post:
      operationId: post_wp_abilities_v1_abilities_name_run
      summary: POST /wp-abilities/v1/abilities/{name}/run
      description: WordPress REST API route /wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run in namespace wp-abilities/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: integer
                  description: Input parameters for the ability execution.
    put:
      operationId: put_wp_abilities_v1_abilities_name_run
      summary: PUT /wp-abilities/v1/abilities/{name}/run
      description: WordPress REST API route /wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run in namespace wp-abilities/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: integer
                  description: Input parameters for the ability execution.
    patch:
      operationId: patch_wp_abilities_v1_abilities_name_run
      summary: PATCH /wp-abilities/v1/abilities/{name}/run
      description: WordPress REST API route /wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run in namespace wp-abilities/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: integer
                  description: Input parameters for the ability execution.
    delete:
      operationId: delete_wp_abilities_v1_abilities_name_run
      summary: DELETE /wp-abilities/v1/abilities/{name}/run
      description: WordPress REST API route /wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run in namespace wp-abilities/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: input
        in: query
        required: false
        schema:
          type: integer
        description: Input parameters for the ability execution.
  /wp-abilities/v1/categories:
    get:
      operationId: get_wp_abilities_v1_categories
      summary: GET /wp-abilities/v1/categories
      description: WordPress REST API route /wp-abilities/v1/categories in namespace wp-abilities/v1, as advertised by the
        live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
        description: Maximum number of items to be returned in result set.
  /wp-block-editor/v1:
    get:
      operationId: get_wp_block_editor_v1
      summary: GET /wp-block-editor/v1
      description: WordPress REST API route /wp-block-editor/v1 in namespace wp-block-editor/v1, as advertised by the live
        route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-block-editor/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
  /wp-block-editor/v1/export:
    get:
      operationId: get_wp_block_editor_v1_export
      summary: GET /wp-block-editor/v1/export
      description: WordPress REST API route /wp-block-editor/v1/export in namespace wp-block-editor/v1, as advertised by the
        live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/navigation-fallback:
    get:
      operationId: get_wp_block_editor_v1_navigation_fallback
      summary: GET /wp-block-editor/v1/navigation-fallback
      description: WordPress REST API route /wp-block-editor/v1/navigation-fallback in namespace wp-block-editor/v1, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-block-editor/v1/url-details:
    get:
      operationId: get_wp_block_editor_v1_url_details
      summary: GET /wp-block-editor/v1/url-details
      description: WordPress REST API route /wp-block-editor/v1/url-details in namespace wp-block-editor/v1, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-block-editor/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        description: The URL to process.
  /wp-site-health/v1:
    get:
      operationId: get_wp_site_health_v1
      summary: GET /wp-site-health/v1
      description: WordPress REST API route /wp-site-health/v1 in namespace wp-site-health/v1, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp-site-health/v1
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
  /wp-site-health/v1/directory-sizes:
    get:
      operationId: get_wp_site_health_v1_directory_sizes
      summary: GET /wp-site-health/v1/directory-sizes
      description: WordPress REST API route /wp-site-health/v1/directory-sizes in namespace wp-site-health/v1, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/authorization-header:
    get:
      operationId: get_wp_site_health_v1_tests_authorization_header
      summary: GET /wp-site-health/v1/tests/authorization-header
      description: WordPress REST API route /wp-site-health/v1/tests/authorization-header in namespace wp-site-health/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/background-updates:
    get:
      operationId: get_wp_site_health_v1_tests_background_updates
      summary: GET /wp-site-health/v1/tests/background-updates
      description: WordPress REST API route /wp-site-health/v1/tests/background-updates in namespace wp-site-health/v1, as
        advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/dotorg-communication:
    get:
      operationId: get_wp_site_health_v1_tests_dotorg_communication
      summary: GET /wp-site-health/v1/tests/dotorg-communication
      description: WordPress REST API route /wp-site-health/v1/tests/dotorg-communication in namespace wp-site-health/v1,
        as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/https-status:
    get:
      operationId: get_wp_site_health_v1_tests_https_status
      summary: GET /wp-site-health/v1/tests/https-status
      description: WordPress REST API route /wp-site-health/v1/tests/https-status in namespace wp-site-health/v1, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/loopback-requests:
    get:
      operationId: get_wp_site_health_v1_tests_loopback_requests
      summary: GET /wp-site-health/v1/tests/loopback-requests
      description: WordPress REST API route /wp-site-health/v1/tests/loopback-requests in namespace wp-site-health/v1, as
        advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-site-health/v1/tests/page-cache:
    get:
      operationId: get_wp_site_health_v1_tests_page_cache
      summary: GET /wp-site-health/v1/tests/page-cache
      description: WordPress REST API route /wp-site-health/v1/tests/page-cache in namespace wp-site-health/v1, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp-site-health/v1
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2:
    get:
      operationId: get_wp_v2
      summary: GET /wp/v2
      description: WordPress REST API route /wp/v2 in namespace wp/v2, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: wp/v2
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
  /wp/v2/block-directory/search:
    get:
      operationId: get_wp_v2_block_directory_search
      summary: GET /wp/v2/block-directory/search
      description: WordPress REST API route /wp/v2/block-directory/search in namespace wp/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: term
        in: query
        required: true
        schema:
          type: string
        description: Limit result set to blocks matching the search term.
  /wp/v2/block-patterns/categories:
    get:
      operationId: get_wp_v2_block_patterns_categories
      summary: GET /wp/v2/block-patterns/categories
      description: WordPress REST API route /wp/v2/block-patterns/categories in namespace wp/v2, as advertised by the live
        route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-patterns/patterns:
    get:
      operationId: get_wp_v2_block_patterns_patterns
      summary: GET /wp/v2/block-patterns/patterns
      description: WordPress REST API route /wp/v2/block-patterns/patterns in namespace wp/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-renderer/{name}:
    parameters:
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_block_renderer_name
      summary: GET /wp/v2/block-renderer/{name}
      description: WordPress REST API route /wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+) in namespace wp/v2, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum: &id001
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: attributes
        in: query
        required: false
        schema:
          type: object
        description: Attributes for the block.
      - name: post_id
        in: query
        required: false
        schema:
          type: integer
        description: ID of the post context.
    post:
      operationId: post_wp_v2_block_renderer_name
      summary: POST /wp/v2/block-renderer/{name}
      description: WordPress REST API route /wp/v2/block-renderer/(?P<name>[a-z0-9-]+/[a-z0-9-]+) in namespace wp/v2, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum: *id001
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
  /wp/v2/block-types:
    get:
      operationId: get_wp_v2_block_types
      summary: GET /wp/v2/block-types
      description: WordPress REST API route /wp/v2/block-types in namespace wp/v2, as advertised by the live route index at
        https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: namespace
        in: query
        required: false
        schema:
          type: string
        description: Block namespace.
  /wp/v2/block-types/{namespace}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_block_types_namespace
      summary: GET /wp/v2/block-types/{namespace}
      description: WordPress REST API route /wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+) in namespace wp/v2, as advertised
        by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/block-types/{namespace}/{name}:
    parameters:
    - name: namespace
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    - name: name
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_block_types_namespace_name
      summary: GET /wp/v2/block-types/{namespace}/{name}
      description: WordPress REST API route /wp/v2/block-types/(?P<namespace>[a-zA-Z0-9_-]+)/(?P<name>[a-zA-Z0-9_-]+) in namespace
        wp/v2, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/blocks:
    get:
      operationId: get_wp_v2_blocks
      summary: GET /wp/v2/blocks
      description: WordPress REST API route /wp/v2/blocks in namespace wp/v2, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: publish
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: wp_pattern_category
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.
      - name: wp_pattern_category_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category taxonomy.
    post:
      operationId: post_wp_v2_blocks
      summary: POST /wp/v2/blocks
      description: WordPress REST API route /wp/v2/blocks in namespace wp/v2, as advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
  /wp/v2/blocks/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_blocks_id
      summary: GET /wp/v2/blocks/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<id>[\d]+) in namespace wp/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
    post:
      operationId: post_wp_v2_blocks_id
      summary: POST /wp/v2/blocks/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<id>[\d]+) in namespace wp/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: &id002
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
    put:
      operationId: put_wp_v2_blocks_id
      summary: PUT /wp/v2/blocks/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<id>[\d]+) in namespace wp/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id002
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
    patch:
      operationId: patch_wp_v2_blocks_id
      summary: PATCH /wp/v2/blocks/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<id>[\d]+) in namespace wp/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id002
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
    delete:
      operationId: delete_wp_v2_blocks_id
      summary: DELETE /wp/v2/blocks/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<id>[\d]+) in namespace wp/v2, as advertised by the live route
        index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
  /wp/v2/blocks/{id}/autosaves:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_blocks_id_autosaves
      summary: GET /wp/v2/blocks/{id}/autosaves
      description: WordPress REST API route /wp/v2/blocks/(?P<id>[\d]+)/autosaves in namespace wp/v2, as advertised by the
        live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: post_wp_v2_blocks_id_autosaves
      summary: POST /wp/v2/blocks/{id}/autosaves
      description: WordPress REST API route /wp/v2/blocks/(?P<id>[\d]+)/autosaves in namespace wp/v2, as advertised by the
        live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
  /wp/v2/blocks/{parent}/autosaves/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_blocks_parent_autosaves_id
      summary: GET /wp/v2/blocks/{parent}/autosaves/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<parent>[\d]+)/autosaves/(?P<id>[\d]+) in namespace wp/v2, as
        advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/blocks/{parent}/revisions:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_blocks_parent_revisions
      summary: GET /wp/v2/blocks/{parent}/revisions
      description: WordPress REST API route /wp/v2/blocks/(?P<parent>[\d]+)/revisions in namespace wp/v2, as advertised by
        the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by object attribute.
  /wp/v2/blocks/{parent}/revisions/{id}:
    parameters:
    - name: parent
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Path segment taken verbatim from the WordPress route pattern.
    get:
      operationId: get_wp_v2_blocks_parent_revisions_id
      summary: GET /wp/v2/blocks/{parent}/revisions/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+) in namespace wp/v2, as
        advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    delete:
      operationId: delete_wp_v2_blocks_parent_revisions_id
      summary: DELETE /wp/v2/blocks/{parent}/revisions/{id}
      description: WordPress REST API route /wp/v2/blocks/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+) in namespace wp/v2, as
        advertised by the live route index at https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Required to be true, as revisions do not support trashing.
  /wp/v2/categories:
    get:
      operationId: get_wp_v2_categories
      summary: GET /wp/v2/categories
      description: WordPress REST API route /wp/v2/categories in namespace wp/v2, as advertised by the live route index at
        https://www.entergy.com/wp-json/.
      tags:
      - wp/v2
      responses:
        '200':
          description: Success. Response body shape is defined by the WordPress REST controller for this route; the route
            index does not describe it, so it is not asserted here.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: rest_forbidden - authentication required for this route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route - no route matched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
[...]
